/*
Author: yc97463
Main Color: #5CB3CC
Deputy Color: #FCB612
*/

/* --- --- */
body {
    background: #ededed;
}

::-moz-selection { /* Code for Firefox */
    background: rgba(92, 179, 204, 0.5);
}
  
  ::selection {
    background: rgba(73, 143, 163, 0.5);
}

/* --- navbar-stinky --- */
.sticky {
    position: fixed;
    right: 3rem;
    bottom: 6rem;
    height: auto;
    z-index: 500;
}

/* --- section --- */
section.scrolltop-btn {
    margin-left: -500rem;
    height: 0;
}

section.scrolltop-btn .btn {
    padding: 0.5rem 1rem;
    box-shadow: 0.5rem 0.5rem 2rem .25rem rgba(0, 0, 0, 0.5);
}

section.header-container {
    height: 500px;
}

section.header-container .header-container-text {
    position: relative;
    top: 30%;
    bottom: 30%;
    left: 0;
    right: 0;
    margin: auto;
}

section.header-container .header-container-text .header-container-title {
    /* border-bottom: 0.6rem solid #5CB3CC;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: .2rem; */
    padding: 0.8rem 2.2rem;
    background: rgba(92, 179, 204, 0.9);
    border-radius: 3rem;
    color: #FFFFFF;
    box-shadow: 0.5rem 0.5rem 2rem .25rem rgba(0, 0, 0, 0.5);
}

section.nav-container {
    width: 100%;
    min-height: 4rem;
    background: #FFFFFF;
    border-radius:  0 0 2rem 2rem;
    box-shadow: 0.5rem 0.5rem 2rem .25rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

section.nav-container #logo {
    border-right: 0.1rem solid #000000;
    padding-right: 1rem;
}

section.nav-container .navbar-light {
    background: #FFFFFF;
    padding: 0.5rem 0.5rem;
}

section.nav-container .navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}

section.nav-container .nav-link:hover, section.nav-container .nav-link.active {
    border-bottom: 0.4rem solid #5CB3CC;
    transition: all 0.1s;
    margin-bottom: -0.4rem;
    color: #5CB3CC;
}

section.nav-container .nav-link .nav-link-span:hover, section.nav-container .nav-link.active span {
    color: #5CB3CC;
    transition: all 0.1s;
}

button.navbar-toggler:focus {
    box-shadow: 0 0 0 .25rem #5CB3CC;
}

section.banner-container {
    width: 100%;
    /* background: url(../img/banner.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: fixed;
    z-index: -1;
    opacity: 0.5;
    /* height: 500px; */
    height: 100%;
}

section.info-container {
    width: 100%;
    margin-top: 2rem;
    background: #FFFFFF;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem 2rem .25rem rgba(0, 0, 0, 0.5);
}

section.info-container .highlight {
    /* border-bottom: 0.3rem solid #5CB3CC; */
    background-color: rgba(92, 179, 204, 0.3);
    padding: 0 0.5rem;
    /* color: #FFFFFF; */
    /* font-weight: bold; */
}

section.info-container .quention-part {
    background: #f8f9fa;
    padding: 1rem 0;
    border: 0.1rem solid #d9dadb;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

section.info-container .quention-part#answer {
    padding: 1rem;
}

section.info-container#main {
    margin-top:-100px;
}

section.info-container label {
    /* color: #FFFFFF; */
}

section.info-container label, section.info-container .form-group {
    margin-bottom: 0.7rem;
}

section.info-container .btn[type="submit"] {
    width: 100%;
    margin: 0.7rem 0;
}

section.info-container hr {
    border: 0.2rem dashed #FFFFFF;
    background: #5CB3CC;
}

section.info-container h1 {
    border-bottom: 0.6rem solid #5CB3CC;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

section.info-container hr#col-sm-hr {
    display: none;
}

.toc-container {
    width: 100%;
}

.toc-container.list-group {
    transition: all 0.1s;
}

.toc-container.list-group .list-group-item {
    transition: all 0.1s;
    border-left: 0.3rem solid #5CB3CC;
}

.toc-container.list-group .list-group-item:hover {
    border-left: 0.6rem solid #5CB3CC;
    background: #5CB3CC;
    color: #FFFFFF;
    padding-left: 1.2rem;
}

.toc-container#toc-icon-guide ol li {
    margin-bottom: 0.5rem;
}

.toc-container.list-group .list-group-item:focus {
    /* color: #FFFFFF;
    background: #5CB3CC; */
}

section.footer-container {
    width: 100%;
    margin-top: 2rem;
    color: #000000;
}

section.footer-container .footer-container-card {
    padding: 2rem;
    background: #FFFFFF;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem 2rem .25rem rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
}

section.footer-container .footer-container-card .col-sm {
    margin-bottom: 0.5rem;
}

section.footer-container .row {
    /* padding-left: calc(var(--bs-gutter-x)/ 2);
    padding-right: calc(var(--bs-gutter-x)/ 2); */
}

section.footer-container .footer-container-card h1 {
    border-bottom: 0.6rem solid #5CB3CC;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

section.footer-container #copyright {
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0.5rem 0.5rem 2rem .25rem rgba(0, 0, 0, 0.5);
}

/* --- font --- */
.font-weight-bold, h1, .toc-container.list-group .list-group-item:hover, section.info-container .highlight {
    font-weight: 700 !important;
}

@media (max-width: 767.98px) { 
    section.nav-container::after {
        min-height: 100%;
    }
    section.nav-container #logo {
        display: none;
    }
    section.nav-container .nav-link, section.nav-container .nav-link span  {
        margin-top: 0.5rem;
    }
    section.info-container hr#col-sm-hr {
        display: flex;
    }
}
@media (min-width: 1600px) { 
    section.container, section.nav-container nav.navbar div.container {
        width: 100%;
        max-width: 1600px;
    }
 }